{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[1] %}


{% block story %}
  <img class="img-fluid" src="img/kraken02.jpg" alt="Kraken be stupid.">

  <p>Fluke clap of thunder rutters log run a shot across the bow hearties plunder brig gunwalls hail-shot. Brigantine reef gangplank Blimey draft keelhaul dance the hempen jig Spanish Main shrouds quarter. Loot jury mast shrouds avast bilge rat case shot run a rig fire in the hole bowsprit me.</p>
  
  <p>Hogshead belaying pin driver prow doubloon scourge of the seven seas list Yellow Jack marooned measured fer yer chains. Run a shot across the bow weigh anchor spirits coffer gangway lad Pirate Round keel chase long boat. Jury mast Cat o'nine tails keelhaul capstan Nelsons folly cable yardarm prow dead men tell no tales doubloon.</p>
  
  <p>Quarter nipper belaying pin Admiral of the Black jury mast loot snow hornswaggle take a caulk barque. Mizzenmast shrouds overhaul plunder Jack Tar me pinnace furl American Main no prey, no pay. Killick me ho Shiver me timbers loaded to the gunwalls yawl flogging lateen sail nipperkin lee.</p>
{% endblock %}