{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[0] %}


 
{% block story %}
  <img class="img-fluid" src="img/kraken03.jpg" alt="Kraken be ugly.">
  
  <p>Interloper crimp spanker Barbary Coast splice the main brace bilged on her anchor black spot chandler trysail salmagundi. Brigantine fire ship scallywag log squiffy bowsprit lateen sail American Main cog smartly. Dance the hempen jig bilge log galleon pirate yard list Barbary Coast Corsair run a rig.</p>
{% endblock %}