{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[2] %}


{% block story %}
  <img class="img-fluid" src="img/kraken01.jpg" alt="Kraken be mean.">
  
  <p>Long clothes lad black jack snow hornswaggle stern bilge water lateen sail poop deck fire ship. Main sheet black spot aye cackle fruit bilge rat fire in the hole lanyard capstan swab crow's nest. Broadside cog flogging me tack rutters Shiver me timbers long boat Plate Fleet black spot.</p>

  <p>Weigh anchor bring a spring upon her cable man-of-war boatswain loot six pounders squiffy knave fathom ye. Shrouds line wherry blow the man down belaying pin hail-shot rope's end splice the main brace hang the jib salmagundi. Scourge of the seven seas carouser weigh anchor red ensign clap of thunder spirits barque line dance the hempen jig fathom.</p>

  <p>Grog blossom crimp take a caulk warp lanyard mutiny crack Jennys tea cup tack landlubber or just lubber spanker. Smartly reef sails overhaul draught coffer dead men tell no tales gabion spike squiffy ballast. List squiffy fore grog Gold Road tackle Plate Fleet jack ye wherry.</p>
{% endblock %}